src/main/java/com/mavenagile/slimbatch/config/slim-batch.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by secure (secure) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="BatchType">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="placeholderProperties" type="IncludeType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="include" type="IncludeType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="listener" type="ListenerType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="datasource" type="BeanType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bean" type="BeanType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.config.Configuration" />
	</xs:complexType>



	<xs:complexType name="JobType">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="properties" type="PropertiesType" minOccurs="0" maxOccurs="1" />
			<xs:element name="listeners" type="ListenersType" minOccurs="0" maxOccurs="1" />
			<xs:element name="step" type="StepType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Job" />
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>



	<xs:complexType name="PropertyType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="nodeClass" fixed="com.mavenagile.slimbatch.confi.elements.CProperty" />
				<xs:attribute name="name" type="xs:string" use="required" />
				<xs:attribute name="type" type="xs:string" use="optional" default="string" />
				<xs:attribute name="value" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="PropertiesType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="property" type="PropertyType" />
		</xs:sequence>
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.CProperties" />
	</xs:complexType>

	<xs:complexType name="ListenerType">
		<xs:attribute name="ref" type="xs:string" use="required" />
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Listener" />
	</xs:complexType>

	<xs:complexType name="ListenersType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="listener" type="ListenerType" />
		</xs:sequence>
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Listeners" />
	</xs:complexType>

	<xs:complexType name="IncludeType">
		<xs:attribute name="resource" type="xs:string" />
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Include" />
	</xs:complexType>


	<xs:complexType name="StepType">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="transaction" type="TransactionType" minOccurs="0" maxOccurs="1" />
			<xs:element name="partition" type="PartitionType" minOccurs="0" maxOccurs="1" />
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="batchlet" type="BatchletType" minOccurs="1" maxOccurs="1" />
				<xs:element name="chunk" type="ChunkType" minOccurs="1" maxOccurs="1" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Step" />
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="MapperType">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="properties" type="PropertiesType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ref" type="xs:string" use="required" />
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.CBean" />
	</xs:complexType>

	<xs:complexType name="ChunkType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="reader" type="APIBeanType" />
			<xs:element name="processor" type="APIBeanType" />
			<xs:element name="writer" type="APIBeanType" />
		</xs:sequence>
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Chunk" />
		<xs:attribute name="items" type="xs:int" use="optional" />
		<xs:attribute name="skips" type="xs:int" use="optional" />
		<xs:attribute name="retrys" type="xs:int" use="optional" />
	</xs:complexType>

	<xs:complexType name="BatchletType">
	</xs:complexType>

	<xs:complexType name="TransactionType">
		<xs:attribute name="commitSize" type="xs:int" use="required" />
		<xs:attribute name="datasource" type="xs:string" use="required" />
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Transaction" />
	</xs:complexType>

	<xs:complexType name="PartitionType">
		<xs:sequence>
			<xs:element name="mapper" type="MapperType" />
		</xs:sequence>
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.Partition" />
	</xs:complexType>

	<xs:complexType name="APIBeanType">
		<xs:sequence>
			<xs:element name="properties" type="PropertiesType" minOccurs="0" maxOccurs="1" nillable="true" />
		</xs:sequence>
		<xs:attribute name="ref" type="xs:string" use="required" />
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.CBean" />
	</xs:complexType>

	<xs:complexType name="BeanType">
		<xs:sequence>
			<xs:element name="properties" type="PropertiesType" minOccurs="0" maxOccurs="1" nillable="true" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required" />
		<xs:attribute name="class" type="xs:string" use="required" />
		<xs:attribute name="nodeClass" type="xs:string" fixed="com.mavenagile.slimbatch.confi.elements.CBean" />
		<xs:attribute name="singleton" type="xs:boolean"></xs:attribute>
	</xs:complexType>

	<xs:element name="job" type="JobType">
	</xs:element>
	<xs:element name="batch" type="BatchType">
	</xs:element>

	<xs:element name="beans" type="BatchType">
	</xs:element>
</xs:schema>
